body{
	margin: 0px;
}
img{
	max-width: 100%;
}
.header{
	height: 130px;
	background-color: #000;
	width: 100%;
	padding: 0px;
}
.select{
	display: none;
}
.mobile-image{
	display: none;
}
.mobile-nav{
	display: none;
}
.container-fluid{
	max-width: 1170px;
}
.logo__image{
	max-width: 100%;
	margin-top: 8px;
}
.navigation{
	height: 71px;
	box-sizing: border-box;
	border-bottom: 1px solid #ecc32e;
}
.navigation__menu{
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.navigation__item{
	line-height: 55px;
	font-family: 'PT Sans', sans-serif;
	padding: 0px;
	margin: 12px 32px 0px;
	font-size: 14px;
	display: inline-block;
	color: #535353;
	text-transform: uppercase;
	text-align: center;
}
.navigation__itam:last-child{
	margin-right: 0px;
}
.navigation__item a{
	text-decoration: none;
	color: #535353;
}
.navigation__item:hover > a{
	color: #ffffff;
}
.navigation__item:hover{
	cursor: pointer;
	color: #ffffff;
	border-bottom: 4px solid #ecc32e;
}
.navigation__item_active{
	border-bottom: 4px solid #ecc32e;
}
.navigation__item_active a{
	color: #FFFFFF;
}
.navigation__item:first-child{
	margin-left: 0px;
}
.navigation__contacts{
	display: inline-block;
}
.contacts__item{
	display: inline-block;
}
.contacts__item img{
	margin-left: 44px;
	margin-bottom: -8px;
	margin-right: 10px;
}
.contacts__item span{
	display: inline-block;
	font-size: 14px;
	color: #525252;
	font-family: 'PT Sans', sans-serif;
}

.language-selection{
	position: relative;
	font-size: 14px;
	width: 35px;
	color: #525252;
	border: none;
	font-family: 'PT Sans', sans-serif;
	margin-left: 58px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("../img/arrow-point-to-right.png");
	background-position: 25px 7px;
	background-repeat: no-repeat;
	background-color: #000;
}
.sub-navigation{
	display: flex;
	justify-content: space-between;
}
.sub-navigation__item{
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	color: #d7b12a;
	font-size: 16px;
	margin-top: 15px;
}
.sub-navigation__item:hover{
	color: #fff;
}
.sub-navigation__item_active{
	color: #fff;
}
.mobile-footer{
	display: none;
}
.mobile-copyright{
	display: none;
}
.description-block{
	font-family: 'PT Sans', sans-serif;
	margin-top: 10px;
	height: 600px;
	width: 100%;
	background-color: #212121;
	background-image: url("../img/description-block-background.png");
	background-size: 116%;
	background-repeat: no-repeat;
	background-position: 50px 0px;
}
.breadcrumbs{
	padding: 0;
	padding-left: 15px;
	list-style: none;
	margin: 0px;
}
.breadcrumbs__item{
	display: inline-block;
	margin: 0px;
	padding-top: 16px;
}
.breadcrumbs__item a{
	color: #7c7c7c;
	text-decoration: none;

	font-size: 12px;
}
.breadcrumbs__item_active{
	color: white;
	font-size: 12px;
}

.description-block-heading{
 	font-family: 'Bodoni Bold';
	text-transform: uppercase;
	color: white;
}
.description-block-heading h1{
	font-size: 52px;
	margin: 141px 0px 13px 0px;
	transform: scaleY(1.2);
	letter-spacing: 3px;
}
.description-block-heading h2{
	font-size:29px;
	margin:0px 0px 22px 0px;
	transform: scaleY(1.2);
	letter-spacing: 3px;
}
hr{
	width: 36px;
	margin: 0px 0px 8px 0px;
}
.description-block__text{
	margin-top: 22px;
	margin-bottom: 32px;
	font-size: 16px;
	color: white;
}
.circle-item{
	padding-left: 15px;
	display: table;
}
.circle-item:last-child{
	margin-left: 50px;
}
.circle-picture{
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	margin-right: 16px;
}
.circle-picture__text{
	display: inline-block;
	color: white;
	font-size: 14px;
}
.happy-hours-menu{
	background-color: black;
}
.more-link{
	display: none;
}
.menu-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.menu__item{
	cursor: pointer;
	margin-bottom: 24px;
	margin-right: 15px;
	display: table;
	height: 60px;
	border-radius: 30px;
	background-color: #262626;
}
.menu__icon{
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}
.menu__heading h1{
	margin: 0px 0px 50px 0px;
	padding-top: 65px;
	text-transform: uppercase;
	color: #fff;
	font-size: 48px;
}
.menu__item span{
	font-family: 'PT Sans', sans-serif;
	display: inline-block;
	font-size: 16px;
	margin: 20px 17px 0px 14px;
	color: #fff;
}
.menu__item_active{
	background-color: #ecc32e;
}
.menu__item_active span{
	color: #000;
}
.menu__item:nth-child(6){
	margin-right: 0px;
}
.menu__image{
	width: 100%;
	height: auto;
	margin-top: 48px;
	padding-bottom: 58px;	
}
.seo-content-block{
	background-color: #262626;
}
.seo-content__heading h1{
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-family: 'Bodoni Bold';
	margin: 0px auto 52px;
	padding-top: 68px;
}
.seo-content__text p{
	margin: 0px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	text-align: justify;
	color: #fff;
	padding-bottom: 90px;
}
.contacts{
	position: relative;
	width: 100%;
	height: 495px;
	background-image: url("../img/map.png");
	background-size: 100%;
}
.contacts div[class*="col"]{
	padding: 0px;
}

.contacts__info{
	width: 100%;
	
	margin-top: 140px;
	background-color: #fff;
}
.contacts__heading h1{
	letter-spacing: 1px;
	margin: 0px;
	padding-top: 36px;
	margin-bottom: 36px;
	text-transform: uppercase;
	font-family: "Bodoni Bold";
	text-align: center;
	font-size: 36px;
}
.contact__item{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	margin-left: 26px;
	margin-bottom: 8px;
}
.contact__item:last-child{
	padding-bottom: 36px;
}
.contact__item span{
	padding-left: 20px;
}
.map-placeholder{
	position: absolute;
	top: 140px;
	right: 470px;
}
.footer{
	background-color: #1e1d1c;
	height: 90px;
}

.footer img{
	height: 70px;
	margin-top: -10px;
}
.footer-navigation{
	margin-top: 40px;
	padding: 0px;
	display: inline-flex;
	justify-content: space-around;
}
.footer-navigation__item{

	padding:0px;
	margin: 0px 50px;
	list-style: none;
}
.footer-navigation__item a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}
.footer-navigation__item:first-child{
	margin-left: 100px;
}
.footer-contacts__item img{
	height: 30px;
	margin-right: 20px;
}
.footer-contacts{
	padding-left: 50px;
	padding-top: 10px;

}
.footer-contacts__item{
	line-height: 35px;
	margin-bottom: 8px;
}
.footer-contacts__item span{
font-size: 16px;
font-family: 'PT Sans';
color: #fff;
}
.social img{
	float: right;
	padding:0px;
	margin:-29px;
	padding-right: 20px;
	height: 22px;
}
.copyright{
	background-color: #252525;
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-family: 'PT Sans';
}
.flexbox{
	max-width: 100%;
	display: flex;
	justify-content: center;
}



@media(max-width: 420px) {
.logo__image {
	margin-left: 10px;
	height: 40px;
}
body > *{
	max-width: 100%;
}	
.header{
	height: 60px;
}
.navigation{
	display: none;
}
.sub-navigation{
	display: none;
}
.description-block{
	background-image: url("../img/description-block-mobile-bg.png");
	background-repeat: no-repeat;
	background-position: 0px -100px;
	background-size: 100%;
	margin-top: 7px;
}
.breadcrumbs{
	padding-left: 0px;
	margin-left: 10px;
}
.breadcrumbs__item{
	padding-top: 13px;
}
div[class*="col"]{
	min-width: 100%;
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
.description-block-heading{
	text-align: center;
	width: 100%;
}
.description-block-heading h1{
	letter-spacing: -1px;
	margin-top: 34px;
	font-size: 36px;
	transform:scaleY(1);
}
.description-block-heading h2{
	font-size: 22px;
	letter-spacing: -1px;
	margin-bottom: 16px;
}
hr{
	margin: 0px auto 8px auto;
}
.description-block__text{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-size: 14px;
	margin-top: 16px;
}
.flexbox{
	max-width: 100%;
	display: flex;
	justify-content: center;
}

.footer{
	display: none;
}
.mobile-nav{
	display: block;
	float: right;
	padding-right: 10px;
	padding-top: 20px;
}
.menu__heading h1{
	margin-bottom: 26px;
	text-align: center;
	padding-top: 36px;
	font-size: 20px;
	transform: scaleY(1.1);
	letter-spacing: -1px;
}
.menu-items{
	display: none;
}
.menu__image{
	margin-top: 26px;
	padding-bottom: 40px;
}
.select{
	display: block;
	position: relative;
	text-align: center;
}
.select img{
	position: absolute;
	top: 8px;
	left: 10px;
}
.select select {
	font-size: 14px;
	background: url("../img/select-cursor.png");
	background-repeat: no-repeat;
	background-position: right 20px center;
	border:none;
	border-radius: 30px;
	padding-left: 76px;
	color: #fff;
	outline: none;
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
appearance: none;
background-color: #262626;
width: 100%;
height: 60px;
}
.mobile-image{
	display: block;
}
.menu__image > img{
	display: none;
}
.seo-content__heading h1{
	font-size: 18px;
	font-family: 'Arial';
	font-weight: bolder;
	letter-spacing: -1px;
	padding-top: 40px;
	margin-bottom: 40px;
}
.seo-content__text p{
	font-size: 14px;
	padding-bottom: 20px;
}
.more-link {
	display: block;
	padding-bottom: 40px;
	
}
.more-link a{
	color: #dcaa12;
	font-size: 14px;
	font-family: 'PT Sans';

}
.contacts__info{
	display: none;
}
.contacts{
	position: relative;
	background-image: url("../img/mobile-contacts-bg.png");
	background-repeat: no-repeat;
}
.map-placeholder{
	display:none;
}
.mobile-footer{
	background-color: #212121;
}
.mobile-footer > img{
	margin-top: -50px;
	margin-left: 10px;
	display: inline-block;
	height: 50px;
}
.mobile-footer .footer-contacts__item img{
	height: 21px;
	margin-right: 20px;
}
.mobile-footer .footer-contacts{
	display: inline-block;
	width: 81%;
	padding-top: 10px;
	margin-bottom: 36px;

}
.mobile-footer .footer-contacts__item{
	line-height: 35px;
	margin-bottom: 8px;
}
.mobile-footer .footer-contacts__item span{
font-size: 14px;
font-family: 'PT Sans';
color: #3b3b3b;
}
.mobile-footer .social{
	position: relative;
}
.mobile-footer .social img{
	height: 16px;
	position: absolute;
	right: 0px;
	top: -24px;
	margin: 0px;

}
.copyright{
	display: none;
}
.mobile-copyright{
	font-size: 14px;
	text-align: center;
	font-family: 'PT Sans';
	padding-bottom: 13px;
	text-shadow: 2px 2px 0px #3C3C3C;
}



}