$font-family: 'Roboto', sans-serif;
$font-family-alt: $font-family;
$font-family-validation: $font-family;
$font-family-headings: $font-family;

$text-color: #040018;
$color1: #A50334;
$color2: #4B5765;
$color3: #DB0035;
$color4: #0D1528;

$font-size: 16px;
$font-size-paragraph: 16px;
$paragraph-margin: 25px; //margin-bottom
$paragraph-height: 1.4;  //line-height
$paragraph-color: $text-color;
$list-image: false;  //list.png

$heading-margin: 28, 26, 24, 22, 20, 20;
$heading-font-size: 35, 30, 28, 26, 23, 20;
$heading-font-weight: 700,700,700,700,700,700; // 1 = "normal"(400)
$heading-uppercase: 0,0,0,0,0,0; // 0 = "none", 1 = "uppercase"
$heading-text-align: l,l,l,l,l,l; // c = "center", l = "left", r = "right"
$heading-color: $text-color;

// SM Heading sizes
$sm-heading-change: false;
$sm-heading-margin: 50, 35, false, false, false, false;
$sm-heading-font-size: 40, 30, 24, false, false, false;
// XS Heading sizes
$xs-heading-change: false;
$xs-heading-margin: 40, 30, false, false, false, false;
$xs-heading-font-size: 36, 26, 22, false, false, false;


$background-color: #fff;
$link-color: $text-color;
$link-hover-color: false;

$table-border-color: #d6d6d6;
$table-color: #3c3c3c;
$table-heading-color: false;

$z-index-blocker: 9;
$z-index-modal: 10;
$z-index-close-modal: 11;