div[class*="col"]{
	box-sizing: border-box;
	background-color: #e2e2e2;
	height: 50px;
	border:1px solid #9f9f9f;
	border-collapse: collapse;
}
.col-92{
	margin-top: 24px;
	float: left;
	width: 92%;
}
.col-8{
	margin-top: 24px;
	width: 8%;
	position: relative;
	float: right;
}
.col-84{
	float: left;
	width: 84%;
}
.col-16{
	width: 16%;
	position: relative;
	float: right;
}
.col-75{
	float: left;
	width: 75%;
}
.col-25{
	width: 25%;
	position: relative;
	float: right;
}
.col-66{
	float: left;
	width: 66%;
}
.col-34{
	width: 34%;
	position: relative;
	float: right;
}
.col-56{
	float: left;
	width: 56%;
}
.col-44{
	width: 44%;
	position: relative;
	float: right;
}
.col-51{
	margin-bottom: 60px;
	float: left;
	width: 51%;
}
.col-49{
	margin-bottom: 60px;
	width: 49%;
	position: relative;
	float: right;
}
.col-92-m{
	margin-bottom: 20px;
	margin-top: 24px;
	float: left;
	width: 91%;
	margin-right: 1%;
}
.col-8-m{
	margin-bottom: 20px;
	margin-left: 1%;
	margin-top: 24px;
	width: 7%;
	position: relative;
	float: right;
}
.col-84-m{
	margin-bottom: 20px;
	margin-right: 1%;
	float: left;
	width: 83%;
}
.col-16-m{
	margin-bottom: 20px;
	margin-left: 1%;
	width: 15%;
	position: relative;
	float: right;
}
.col-75-m{
	margin-bottom: 20px;
	margin-right: 1%;
	float: left;
	width: 74%;
}
.col-25-m{
	margin-bottom: 20px;
	margin-left: 1%;
	width: 24%;
	position: relative;
	float: right;
}
.col-66-m{
	margin-bottom: 20px;
	margin-right: 1%;
	float: left;
	width: 65%;
}
.col-34-m{
	margin-bottom: 20px;
	margin-left: 1%;
	width: 33%;
	position: relative;
	float: right;
}
.col-56-m{
	margin-bottom: 20px;
	margin-right: 1%;
	float: left;
	width: 55%;
}
.col-44-m{
	margin-bottom: 20px;
	margin-left: 1%;
	width: 43%;
	position: relative;
	float: right;
}
.col-51-m{
	margin-bottom: 60px;
	margin-right: 1%;
	float: left;
	width: 50%;
}
.col-49-m{
	margin-bottom: 60px;
	margin-left: 1%;
	width: 48%;
	position: relative;
	float: right;
}