input[type="radio"]{
	cursor: pointer;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.color-item{
	display: inline-block;
}
.color-group{
	margin-left: 32px;
	padding-top: 38px;
}
.color-wrap{
	border-radius: 20px;
	height: 150px;
	width: 465px;
	background-color: #ececec;
}
label{
	display:inline-block;
}
.round{
	margin-right: 7px;
	margin-bottom: 14px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
#pink{
background-color: #f491bc;
}
#light-blue{
	background-color: #0075c3;
}
#blue-red{
	background: url(images/red-blue.png);
}
#sky-blue{
	background-color: #a6c2c6;
}
#pink-green{
	background: url(images/pink-green.png);
}
#graphite{
	background-color: #4a464b;
}
#rose-pink{
	background-color: #fb768d;
}
#red{
	background-color: #a91a38;
}
#royal-blue{
	background-color: #2871bc;
}
#orange{
	background-color: #e28163;
}
#black{
	background-color: #1a1a1a;
}
#red-black{
	background: url(images/red-black.png);
}
#yellow-blue{
	background: url(images/yellow-blue.png);
}
#red-blue{
	background: url(images/blue-red.png);
}
#violet{
	background-color: #421a61;
}
#green{
	background-color: #5e7c63;
}
#light-green{
	background-color: #c5cfcc;
}
#yellow{
	background-color: #eac41a;
}
#grey{
	background-color: #a9a79d;
}
#red-green{
	background: url(images/red-green.png);	
}

#pink-c{
background-color: #f491bc;
}
#light-blue-c{
	background-color: #0075c3;
}
#blue-red-c{
	background: url(images/red-blue.png);
}
#sky-blue-c{
	background-color: #a6c2c6;
}
#pink-green-c{
	background: url(images/pink-green.png);
}
#graphite-c{
	background-color: #4a464b;
}
#rose-pink-c{
	background-color: #fb768d;
}
#red-c{
	background-color: #a91a38;
}
#royal-blue-c{
	background-color: #2871bc;
}
#orange-c{
	background-color: #e28163;
}
#black-c{
	background-color: #1a1a1a;
}
#red-black-c{
	background: url(images/red-black.png);
}
#yellow-blue-c{
	background: url(images/yellow-blue.png);
}
#red-blue-c{
	background: url(images/blue-red.png);
}
#violet-c{
	background-color: #421a61;
}
#green-c{
	background-color: #5e7c63;
}
#light-green-c{
	background-color: #c5cfcc;
}
#yellow-c{
	background-color: #eac41a;
}
#grey-c{
	background-color: #a9a79d;
}
#red-green-c{
	background: url(images/red-green.png);	
}








#graphite-b{
	background-color: #4a464b;
}


#red-b{
	background-color: #a91a38;
}

#red-n{
	background-color: #a91a38;
}
#royal-blue-b{
	background-color: #2871bc;
}
#royal-blue-n{
	background-color: #2871bc;
}

#black-b{
	background-color: #1a1a1a;
}
#black-n{
	background-color: #1a1a1a;
}

#violet-b{
	background-color: #421a61;
}

#green-b{
	background-color: #5e7c63;
}


#grey-b{
	background-color: #a9a79d;
}

#sand{
	background-color: #b0a178;
}
#navy{
	background-color: #1b5c52;
}
