@font-face{
	font-family: Roboto;
	src:url("Fonts/ROBOTO-REGULAR.TTF");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family: Roboto;
	src:url("Fonts/ROBOTO-BOLD_0.TTF");
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family: Roboto;
	src:url("Fonts/ROBOTO-ITALIC.TTF");
	font-weight:normal;
	font-style:italic;
}
@font-face{
	font-family: Roboto;
	src:url("Fonts/ROBOTO-BOLDITALIC.TTF");
	font-weight:bold;
	font-style:italic;
}
@font-face{
	font-family: Roboto;
	src:url("Fonts/ROBOTO-BLACKITALIC.TTF");
	font-weight:bolder;
	font-style:italic;
}