@import url('https://fonts.googleapis.com/css?family=Rubik:400,700,900&subset=cyrillic');
.clearfix{
	content: '';
	clear: both;
	display: table;
}
body{
	margin:0px;
	font-family: 'Rubik',sans-serif;
}
a{
		text-decoration: none;
}
.list{
	position: relative;
	height: 199px;
	background-color: #eeeeee;
}
.span-group span{
		display: block;
}
.span-group{
	margin-right: 70px;
	padding-top: 66px;
	margin-left: 234px;
	font-size: 24px;
}
.list-item{

	display: inline-block;
	width: 171px;
	height: 199px;
	background-color: #eeeeee;
}
.list-item:hover{
	background-color: #e5e5e5;
}
.l-1{
	position: absolute;
	left: 490px;
	top: 0px;
}
.l-2{
		position: absolute;
	left: 661px;
	top: 0px;
}
.l-3{
		position: absolute;
	left: 832px;
	top: 0px;
}
.l-4{
		position: absolute;
	left: 1003px;
	top: 0px;
}
.l-i-content{

	position: relative;
}
.l-i-img{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 58px;
	top: 72px;
}
.img-2{
top:43px;
left: 55px;
}
.img-3{
	top:28px;
	left: 55px;
}
.img-4{
	top:43px;
	left: 55px;
}
.l-i-content span{
	color: #d1222f;
	display: block;
	text-align:center;
	padding-top: 160px;
	font-size: 20px;

}
.l-i-content:hover > span{
	color: black;
}
.red-line{
	top: 194px;
	position: absolute;
	height: 5px;
	background-color: #d1222f;
	width: 100%;
}
.choosed{
	background-color: #e5e5e5;
}
.frame-bp img{
	width: 414px;
}
.frame-bp{
	width: 414px;
	margin-left: 150px;
	padding-top: 53px;
	float: left;
	margin-right: 110px;
}
.frame-text{
	margin-right: 130px;
	float: right;
	padding-top: 70px;
}
.frame-text h2{
	font-weight: 900;
	color:#d1222f;
	font-size: 48px; 
}
.frame-text span{
	display: block;
	margin-bottom: 28px;
	font-size: 30px;
	margin-top: 40px;
	font-weight: bold;
}
.frame-text h1{
	font-size: 
}
sup{
	color: black;
	font-weight: normal;
}
.frame-bp ul{
	list-style: none;
	font-size: 22px;
	font-weight: bold;
}
.red{
	font-size: 24px; 
	display: inline;
	color: #d1222f;
}


.order-butt{
	cursor: pointer;
	margin-top: 32px;
	margin-bottom: 20px;
	display: block;
	width: 393px;
	height: 90px;
	box-sizing: border-box;
	background-color:#d33441; 
	border-radius: 12px;
	position: relative;
}
.order-butt span{
	color: white;
	margin: 0px;
	padding: 0px;
position: absolute;
top: 25px;
left: 40px;
}
.choose-button{
	cursor: pointer;
	display: block;
	width: 393px;
	height: 90px;
	box-sizing: border-box;
	border: 3px solid #d1222f;
	border-radius: 12px;
	position: relative;
}
.choose-button span{
	color: black;
	margin: 0px;
	padding: 0px;
position: absolute;
top: 25px;
left: 40px;
}
input[type="button"]{
	cursor: pointer;
	opacity: 0;
	width: 100%;
	height: 100%;
}