img{
	max-width: 100%;
	max-height: auto;
}
a{
	text-decoration: none;
	color: inherit;
}
body{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	background: #f6f6f6;
}
.mobile-header{
	display: none;
	height: 47px;
	background: #fff;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.06), 0 0 12px 0 rgba(0,0,0,0.05);
}
.header{
	position: relative;
	width: 100%;
	height: 118px;
	background: #10395F;
background-image: -webkit-linear-gradient(#193F63 0%, #10395F 100%);
background-image: -o-linear-gradient(#193F63 0%, #10395F 100%);
background-image: linear-gradient(#193F63 0%, #10395F 100%);
}
nav{
	position: absolute;
	width: 100%;
	height: 74px;
	background: #fff;
	bottom: 0px;
	box-shadow: 0 1px 11px 0 rgba(0,0,0,0.06), 0 0 22px 0 rgba(0,0,0,0.05);
}
.head-content{
	float: right;
	margin-right: 128px;
}
.help{
	display: inline-block;
	position: relative;
}
.divider-l{
	position: absolute;
	left: 0px;
	width: 1px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
}
.divider-r{
	top: 0px;
	right: 0px;
	position: absolute;
	width: 1px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
}
.user-panel{
	padding-top: 12px;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: -0.35px;
}
.user-panel img{
	margin: 0px 7px;
}
.head-content a{
	font-weight: bold;
	font-size: 14px;
	letter-spacing: -0.35px;
}
.user-panel span{
	margin-left: 24px;
	margin-right: 4px;
}
nav li{
	color: #1A1A1A;
	margin: 0px 15px;
	font-weight: 600;
	list-style: none;
	display: inline;
}nav ul{
	display: inline-block;
	margin-top: 26px;
	margin-left: 60px;
}
nav > img{
	float: left;
	margin-left: 120px;
	padding-top: 27px;
}
nav span{
	color: #1a1a1a;
	font-size: 14px;
	font-weight: bold;
}
nav label{
	vertical-align: middle;
	position: relative;
	display: inline-block;
	width: 101px;
	height: 34px;
	background:#01BC7E;
	border-radius: 2px;
}
nav input{
	cursor: pointer;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
nav label img{
	display: inline-block;
	float: right;
	position: absolute;
	top: 12px;
	right: 10px;
}
nav label span{
	display: block;
	margin-left: 13px;
	margin-top: 7px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	letter-spacing: -0.2px;
}
.main{
	display: flex;
	justify-content: center;
}
.icon{
	margin-left: 130px;
}
.main-image{
	margin:40px 30px 0px 120px;
	float: left;
	width: 480px;
	height: 335px;
	border-radius: 5px;	
}
.clearfix{
	content: ' ';
	display: block;
	clear: both;
}
.main h1{
	letter-spacing: -1.2px;
line-height: 49px;
	font-size: 38px;
	color: #38526A ;
	display: inline-block;
	margin: 40px 0px 10px 0px;
}
.wrapper{
	display: inline-block;
	width: 600px;

}
.wrapper p{
	margin: 0px 122px 0px 0px;
	color: #4D4D4D;
	font-size: 16px;
	
}
.center{
	color: #4D4D4D;
	font-size: 16px;
	width: 700px;
	display:block;
	margin: 0px auto;
	text-align: center;

}
.footer span{
	display: block;
	margin-bottom: 12px;
	margin-top: 12px;
	text-align: center;
	font-size: 12px;
	color: #B0B5B5;
	letter-spacing: 0;
	
}
.mobile-navigation > *{
	display: none;
}
@media(max-width:1024px) {
	body{
		margin: 0px auto;
		min-width: 320px;
		max-width: 100%;
		position: relative;
	}
	img{
	max-width: 100%;
	height: auto;
	}
	.header{
		display: none;
	}
	.mobile-header{
		height: 160px;
		display: block;
		width: 100%;
	}
	.main{
		display: block;
	}
	.main-image{
		margin: 12px 10px;
		display: block;
		width: calc( 100% - 20px );
		height: auto;
		clear: both;
	}
	.wrapper{
		width: 100%;
	}
	.wrapper p{
		box-sizing: content-box;
		font-size: 14px;
		min-width: calc( 100% - 80px);
		text-align: left;
		margin: 0px 40px 16px;
		clear: both;
		display: block;
		max-width: 100%;
	}
	.main h1{
		margin: 0px 0px 12px 0px;
		display: block;
		font-size: 26px;
		text-align: center;
	}
	.center{
		width: auto;
		box-sizing: content-box;
		font-size: 14px;
		min-width: calc( 100% - 80px);
		text-align: left;
		margin: 0px 40px 16px;
		display: block;
		max-width: 100%;
	}
	.footer{
		display: block;
		height: 47px;
	}
	.footer span{
		position: relative;
	display: block;
	margin-bottom: 9px;
	margin-top:55px;
	text-align: center;
	font-size: 12px;
	color: #B0B5B5;
	letter-spacing: 0;

	}
	.mobile-header > img{
		width: 80px;
		display: inline-block;
		margin-left: 45px;
		margin-top: 40px;
	}
	.logo{
		position: absolute;
		display: inline-block;
		margin-left: 83px;
		top: 15px;
	}
	.mobile-navigation{
		display:none;
		background-color: #fff;
		position: absolute;
		top: 0px;
		min-width: 320px;
		width: 100%;
		height:99%;
	}
	.close{
		cursor: pointer;
		position: absolute;
		left: 17px;
		top: 15.5px;
	}
	.user-icon{
		cursor: pointer;
		float: right;
		position: absolute;
		right: 16px;
		top: 13px;
	}
	.nav-header{
		position: relative;
	}
	.mobile-navigation ul{
		padding-left: 0px;
		margin-top: 158px;
		list-style: none;
		text-align: center;
	}
	.mobile-navigation ul li{
		font-weight: 600;
		display: block;
		margin-bottom: 55px;
		color: #1A1A1A;
		letter-spacing: -0.28px;
		font-size: 50px;
	}
	.mobile-navigation ul li:first-child{
		margin-top: 250px;
	}
	.mobile-navigation span{
		margin-top: 105px;
		display: block;
		text-align: center;
		font-weight: bold;
		font-size: 45px;
		color: #123A60;
		letter-spacing: -0.35px;
		text-align: center;
	}
	.contacts-block{
		display: flex;
		justify-content: center;
	}
	.contacts-block img{
		margin: 21px 15px;
		height: 55px;
	}
	.mobile-navigation .footer span{
		font-size: 12px;
		margin: 0px 0px 20px 0px;
		padding-top:30px;
		font-weight: 600;
		color: #B0B5B5;
		letter-spacing: 0;
		text-align: center;	
	}
}
@media (max-width: 1300px){

	.icon{
		margin-left: 30px;
	}

}