$heading_count: 6;
$breakpoints: 992, 500;

@mixin heading(){
  $list: '';
  @for $i from 1 through $heading_count {
    @if ($i == 1) {
      $list: "h#{$i}, .h#{$i}"
    } @else {
      $list: $list + ", h#{$i}, .h#{$i}"
    }
  }
  #{$list} {
    font-family: $font-family-headings;
    font-size: 100%;
    font-weight: normal;
    color: $heading-color;
  }

  @for $i from 1 through $heading_count {
    $margin:  nth($heading-margin, $i);
    $sm-margin:  nth($sm-heading-margin, $i);
    $xs-margin:  nth($xs-heading-margin, $i);
    $uppercase: nth($heading-uppercase, $i);
    $text-align: nth($heading-text-align, $i);
    $weight: nth($heading-font-weight, $i);
    $sm-size: nth($sm-heading-font-size, $i);
    $size: nth($heading-font-size, $i);
    $xs-size: nth($xs-heading-font-size, $i);

    #{"h#{$i}, .h#{$i}"} {
      margin-bottom: $margin + px;
      @if ($uppercase != 0) {
        text-transform: uppercase;
      }
      @if ($text-align != "l") {
        @if ($text-align == "c") {
          text-align: center;
        } @elseif ($text-align == "r") {
          text-align: right;
        }
      }
      @if ($weight != 1) {
        font-weight: $weight;
      }
      font-size: $size + px;
    }
    @include breakpoint(sm){
      @if($sm-heading-change == true){
        #{"h#{$i}, .h#{$i}"} {
          @if(($sm-margin!= false)){
            margin-bottom: $sm-margin + px;
          }
          @if(($sm-size!= false)){
            font-size:$sm-size + px;
          }
        }
      }
    }
    @include breakpoint(xs){
      @if($xs-heading-change == true){
        #{"h#{$i}, .h#{$i}"} {
          @if(($xs-margin!= false)){
            margin-bottom: $xs-margin + px;
          }
          @if(($xs-size!= false)){
            font-size:$xs-size + px;
          }
        }
      }
    }
  }
}
