.flex-wrapper{
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);
  &.center{
    @include justify-content(center !important);
    .column + .column{
      margin-left: 20px;
      @include breakpoint(mxs){
        margin-left: 15px;
      }
    }
  }
  &.space-between{
    @include justify-content(space-between !important);
  }
  >.column{
    min-width: 50%;
    max-width: 50%;
    width: 50%;
  }
}