.filter-wrapper {
  > ul.tab-list {
    margin: 0;
    background-color: #606a76;
    @include flexbox();
    @include justify-content(space-around);
    @include align-items(stretch);
    @include breakpoint(xs){
      @include justify-content(flex-start);
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      max-width: 100%;
    }
    li {
      white-space: nowrap;
      font-size: 0;
      list-style: none;
      margin: 0;

      &.active {
        a {
          color: #fff;

          &::before {
            @include transform(scaleX(1));
          }

          img {
            filter: none;
          }
        }
      }

      a {
        position: relative;
        font-size: 18px;
        text-decoration: none;
        color: #a0a6ad;
        display: block;
        padding: 19px 15px;
        transition: color .3s;
        @include breakpoint(lg){
          padding: 15px 7px;
          font-size: 14px;
        }
        @include breakpoint(md-down){
          padding: 15px 7px;
          font-size: 14px;
        }
        @include breakpoint(xs){
          padding: 15px 19px;
        }
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #ffc925;
          @include transform-origin(left center);
          @include transform(scaleX(0));
          transition: transform .3s;
        }
      }

      .list-image {
        font-size: 14px;
        display: inline-block;
        width: 45px;
        height: 35px;
        margin-right: 15px;
        vertical-align: middle;
        @include breakpoint(md-down){
          width: 30px;
          height: 25px;
        }
        img {
          display: block;
          filter: grayscale(1) brightness(0.84);
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
          -o-object-fit: contain;
          -o-object-position: center;
          transition: filter .3s;
        }
      }
    }
  }

  > div {
    background-color: #696969;
    padding: 24px 32px 28px 36px;
    @include breakpoint(smxs){
      padding: 15px;
    }
  }

  .inner-tabs {
    font-size: 0;

    ul.tab-list {
      font-size: 0;
      margin: 0 0 23px;
      padding: 3px 4px;
      background-color: #fff;
      display: inline-block;
      width: auto;
      @include breakpoint(mxs){
        @include flexbox;
        @include justify-content(space-between);
        width: 100%;
        margin-bottom: 15px;
      }
      li {
        display: inline-block;
        vertical-align: middle;
        list-style: none;
        margin: 0;

        @include breakpoint(mxs){
          width: calc( 50% - 7.5px );
          text-align: center;
        }
        &.active {
          a {
            background-color: #ff8900;
            color: #fff;
          }
        }

        a {
          font-size: 14px;
          display: block;
          padding: 11px 57px;
          text-decoration: none;
          color: #696969;
          transition: background-color .3s, color .3s;
          @include breakpoint(mxs){
            padding: 11px;
          }
        }
      }
    }

    > div {
      font-size: 14px;

      .flex-wrapper {
        @include justify-content(space-between);
        &.center{
          margin: 24px 0;
          @include breakpoint(mxs){
            margin: 0;
          }
          @include breakpoint(sxs){
            .column{
              width: 100%;
              min-width: 100%;
              max-width: 100%;
              margin: 0 0 15px;

            }
          }
        }
        @include breakpoint(mxs){
          @include flex-wrap(wrap);
        }
        &.button-wrapper{
          .button{
            @include breakpoint(mxs){
              width: calc( 50% - 7.5px );
              text-align: center;
            }
            @include breakpoint(sxs){
              width: 100%;
              display: block;
            }
          }
          .button + .button{
           @include breakpoint(sxs){
             margin-top: 15px;
           }
          }
        }
      }

      .column {
        width: calc(25% - 15px);
        min-width: calc(25% - 15px);
        max-width: calc(25% - 15px);
        @include breakpoint(mxs){
          width: calc(50% - 7.5px);
          min-width: calc(50% - 7.5px);
          max-width: calc(50% - 7.5px);
          margin-bottom: 15px;
        }
        &.price-range {
          @include flexbox();
          @include justify-content(space-between);
          @include align-items(center);
          @include breakpoint(md-down){
            min-width: calc( 75% - 5px );
            max-width: calc( 75% - 5px );
            width: calc( 75% - 5px );
          }
          @include breakpoint(mxs){
            width: calc(50% - 7.5px);
            min-width: calc(50% - 7.5px);
            max-width: calc(50% - 7.5px);
          }
          >span{
            color: #fff;
            @include breakpoint(md-down){
              margin-left: auto;
            }
          }
          label {
            display: block;
            position: relative;
            padding-bottom: 2px;
            max-width: 33%;
            @include breakpoint(md-down){
              max-width: 143px;
              margin-left: 20px;
            }
            @include breakpoint(mxs){
              margin-left: 15px;
            }
            .decoration {
              display: block;
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background-color: #fff;
            }

            input {
              padding: 0 8px;
              text-align: center;
              width: 100%;
              position: relative;
              border: none;
              font-size: 14px;
              border-radius: 0;
              height: 40px;
              line-height: 40px;

              &:focus {
                + .decoration {
                  background-color: #ff8900;
                }
              }
            }
          }
        }
      }
    }
  }
}