.header {
  font-size: 0;
  width: 100%;
  background-color: #696969;

  .nav-trigger {
    display: none;
    @include breakpoint(sm-down) {
      display: block;
      width: 30px;
      height: 30px;
      background: url("/images/svg/menu.svg") no-repeat center center;
      background-size: contain;
    }
  }

  .menu-wrapper {
    @include breakpoint(sm-down) {
      display: none;
      &.popup-slider {
        display: block;
      }
      background-color: #fff;
      width: auto;
      min-width: 400px;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 15px;
    }
    @include breakpoint(sxs) {
      max-width: 100%;
      min-width: unset;
      width: 100%;
      padding: 45px 15px 15px;
    }
  }

  .nav {
    overflow: hidden;
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    @include breakpoint(sm-down) {
      @include flexbox();
      @include justify-content(flex-start);
      @include flex-direction(column);
      width: 100%;
      height: 100%;
      padding: 0;
    }

    li {
      margin: 0;
      padding: 0;
      color: #c3c3c3;
    }

    .phones {
      display: none;
      list-style: none;
      margin: auto 0 0;
      padding: 0;
      @include breakpoint(sm-down) {
        display: block;
      }
    }

    .number-mobile {
      display: block;
      text-decoration: none;
      font-size: 16px;
      font-style: italic;
      font-weight: 700;
      text-align: center;
    }
  }
  .level-1-title{
    display: none;
    @include breakpoint(sm-down){
      display: block;
    }
    .menu-title,.back{
      text-transform: uppercase;
      display: block;
      padding: 16px 14px;
      text-decoration: none;
      border: 1px solid #c9c9c9;
      border-left: none;
      border-right: none;
      position: relative;
    }
    .menu-title::before{
      content: '';
      position: absolute;
      right: 15px;
      width: 20px;
      height: 20px;
      top: calc( 50% - 10px );
      background: url("/images/svg/arrow-right.svg") no-repeat center center;
      background-size: 8px 14px;
    }
    .back{
      padding-left: 30px;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        top: calc( 50% - 10px );
        background: url("/images/svg/arrow-right.svg") no-repeat center center;
        background-size: 8px 14px;
        transform: scaleX(-1);
      }
    }

  }
  .level-1{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: 1;
    list-style: none;
    padding: 15px;
    margin: 0;
    transition: transform .5s;
    @include transform(translateX(-100%));
    @include breakpoint(sxs){
      padding: 45px 15px 15px;
    }
    &.active{
      @include transform(translateX(0));
    }
    li{
      margin: 0;
      a{
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        display: block;
        padding: 14px 18px;
      }
    }
  }
}

.header > .container {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  @include breakpoint(sm-down) {
    @include align-items(center);
  }
}

.header .nav li:first-child {
  /*margin-left: -14px;*/
}

.header .nav li .list-item {
  position: relative;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 14px;
  font-size: 12px;
  color: #c3c3c3;
  transition: color .3s;
  @include breakpoint(sm-down) {
    color: #000000;
    font-size: 16px;
  }
}

.header .nav li + li {
  margin-left: 8px;
  @include breakpoint(sm-down) {
    margin: 10px 0 0;
  }
}

.header .nav li .list-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffc925;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .3s;
}

.header .nav li .list-item:hover, .header .nav li .list-item.active {
  color: #fff;
  @include breakpoint(sm-down) {
    color: #000;
  }
}

.header .nav li .list-item:hover::before, .header .nav li .list-item.active::before {
  transform: scaleX(1);
}

.header-under {
  padding: 35px 0;
  @include breakpoint(mxs) {
    padding: 23px 0 15px;
  }

  .row {
    @include flexbox;
    @include align-items(center);

    > div {
      @include breakpoint(sm-down) {
        width: auto;
      }
    }

    .col-xs-9 {
      @include breakpoint(sm-down) {
        margin-left: auto;
      }
    }

    .col-xs-3 {
      max-width: 33%;
    }
  }

  .logo {
    display: block;
    max-width: 100%;
  }

  .phone-wrap {
    font-size: 0;
    padding-left: 12px;
    background-color: #f5f5f5;
    @include breakpoint(sm-down) {
      background-color: transparent;
      padding: 0;
    }

    .button {
      vertical-align: middle;
      @include breakpoint(sm-down) {
        padding: 10px;
        span {
          font-size: 0;
          padding: 0;

          &::before {
            display: block;
            position: relative;
            width: 24px;
            height: 24px;
            left: unset;
            top: unset;
          }
        }
      }
    }

    .phone-item {
      display: inline-block;
      vertical-align: middle;
      padding: 16px 0;
      margin-right: 40px;
      text-decoration: none;
      font-size: 16px;
      font-style: italic;
      font-weight: 700;
      @include breakpoint(lg) {
        margin-right: 20px;
      }
      @include breakpoint(md) {
        margin-right: 10px;
        font-size: 12px;
      }
      @include breakpoint(sm-down) {
        display: none;
      }
    }
  }

  .basket-wrapper {
    margin-left: auto;
    @include flexbox();
    @include justify-content(flex-start);

    .basket_group-button {
      @include user-select(none);
      cursor: pointer;
      padding: 0 25px;
      position: relative;
      @include flexbox;
      @include flex-direction(column);
      @include align-items(center);
      @include breakpoint(md) {
        padding: 0 15px;
      }
      @include breakpoint(sm-down) {
        padding: 0 10px;
      }

      .counter {
        position: absolute;
        bottom: calc(100% + 10px);
        padding: 2px 6px;
        background-color: #ff8900;
        font-size: 11px;
        color: #fff;
        line-height: 1;
        -webkit-box-shadow: 0px 6px 11px 1px rgba(255, 137, 0, 1);
        -moz-box-shadow: 0px 6px 11px 1px rgba(255, 137, 0, 1);
        box-shadow: 0px 6px 11px 1px rgba(255, 137, 0, 1);
        @include breakpoint(mxs) {
          font-size: 8px;
        }

        &::after {
          content: '';
          top: calc(100% - 1px);
          position: absolute;
          left: calc(50% - 4.5px);
          width: 9px;
          height: 5px;
          background-color: #ff8900;
          -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
          clip-path: polygon(100% 0, 0 0, 50% 100%);

        }
      }

      img {
        max-width: none;
        max-height: 35px;
        object-fit: contain;
        -o-object-fit: contain;
        object-position: center;
        -o-object-position: center;
        margin: 0 auto 10px;
        @include user-drag(none);
        @include breakpoint(sm-down) {
          min-width: 30px;
          margin: 0 auto;
        }
      }

      span.button-title {
        display: block;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        @include breakpoint(sm-down) {
          display: none;
        }
      }
    }

    .basket_group-button + .basket_group-button {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -6px;
        width: 1px;
        height: calc(100% + 12px);
        background-color: #e4e4e4;
        @include breakpoint(sm-down) {
          height: calc(100% + 10px);
          top: -5px;
        }
      }
    }
  }
}